body {
    text-align: center;
}

/* create some distance between the nav-items */
.nav-item {
    margin: 10px 5px 0 5px;
}

/* enlarge the size of words to match it on main page */
span {
    font-size: 6em;
    font-weight: 500;
}

/* redesigning the form*/
input[type=text]{
    margin: auto;
    width: 50%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px silver;
    border-radius: 20px;
}

.btn-light {
    margin-top: 20px;
}

/* keeping the main-text at certain distance to make it look beautiful */
#main-text {
    width: fit-content;
    margin: 50px auto 20px auto;
}

#side-text {
    text-align: end;
    font-size: 1.2em;
}


/* media query to make a responsive UI */
@media screen and (max-width: 600px) {
    span {
        font-size: 3em;
    }
    input[type=text]{
        width: 80%;
    }
    .nav-item{
        visibility: hidden;
    }
    #side-text {
        font-size: 0.6em;
    }
}